<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @monster.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @monster.description %>
</p>

<p>
  <strong>Character attribute:</strong>
  <%= @monster.character_attribute %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
