<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @task.opponent_id %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @task.finished %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @task.winner_id %>
</p>

<p>
  <strong>Character:</strong>
  <%= @task.character %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
